<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h2>Dados do cartão de crédito</h2>
  </div>

  <ion-item>
    <ion-input label="Nome no cartão" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Número do cartão" type="number" placeholder="0000 0000 0000 0000"></ion-input>
  </ion-item>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col>
        <ion-input labelPlacement="fixed" label="Validade" type="text" placeholder="MM/AA"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input labelPlacement="fixed" label="CVV" type="number" placeholder="000"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item lines="none">
    <ion-label>
      <p>Total:</p>
      <h1>R$ 120,00</h1>
    </ion-label>
  </ion-item>
</ion-content>
<ion-footer class="ion-no-padding">
  <ion-toolbar color="secondary">
    <ion-button expand="full" fill="clear" color="light" routerLink="/sucesso">
      <ion-icon name="lock-closed" slot="start"></ion-icon>
      Pagar
    </ion-button>
  </ion-toolbar>
</ion-footer>