<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Confirmação de endereço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD9X5Je9vYPqgyLV8hWs67NQdXhqbHfZEM&q=Rua%20Dom%20Bosco,%20163%20-%20Boa%20Viagem"
    width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</ion-content>

<ion-footer class="ion-no-padding">
  <ion-toolbar color="primary"><ion-button expand="full" fill="clear" color="light" routerLink="/agendar">Confirmar
      Endereço</ion-button></ion-toolbar>
</ion-footer>