:root {
	--ion-color-primary: #8000ff;
	--ion-color-primary-rgb: 128,0,255;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #7100e0;
	--ion-color-primary-tint: #8d1aff;

	--ion-color-secondary: #333333;
	--ion-color-secondary-rgb: 51,51,51;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #2d2d2d;
	--ion-color-secondary-tint: #474747;

	--ion-color-tertiary: #0080FF;
	--ion-color-tertiary-rgb: 0,128,255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #0071e0;
	--ion-color-tertiary-tint: #1a8dff;

	--ion-color-success: #00FF80;
	--ion-color-success-rgb: 0,255,128;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #00e071;
	--ion-color-success-tint: #1aff8d;

	--ion-color-warning: #FF8000;
	--ion-color-warning-rgb: 255,128,0;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e07100;
	--ion-color-warning-tint: #ff8d1a;

	--ion-color-danger: #FF0080;
	--ion-color-danger-rgb: 255,0,128;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #e00071;
	--ion-color-danger-tint: #ff1a8d;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

  /** Typografia **/
  --ion-font-family: "Cooper Hewitt", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;

}