<ion-content class="ion-text-center ion-align-items-end ion-padding">
  <div class="container">
    <div style="max-width: 320px;width: 100%;margin: 0 auto">
      <ng-lottie [options]="options"></ng-lottie>
    </div>
    <div style="max-width: 540px;width: 100%;margin: 0 auto">
      <ion-text style="position: relative;top: -82px;">
        <h1 style="font-family: 'Suarez Alt';margin-bottom: 0;">Bem-vinda ao GlowApp!</h1>
        <p class="ion-padding" style="color: #555;margin-top: 0;">A plataforma que conecta profissionais de saúde e
          estética com clientes em busca de
          serviços de bem-estar e embelezamento. Com agendamento fácil e serviços delivery, estamos aqui para ajudá-lo
          a cuidar da sua saúde e bem-estar.<br>Brilhe com o GlowApp!</p>
        <ion-button fill="outline" routerLink="home" expand="block"
          style="max-width: 240px;width: 100%;margin: 0 auto;">Entrar</ion-button>
      </ion-text>
    </div>
    <img src="../../../assets/logo-horizontal.svg" width="128">
  </div>
</ion-content>