<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div [style]="'height: 33%; width: 100%;background-image: url('+servico?.imagem+');background-size: cover;'">
  </div>
  <div class="ion-padding">
    <h1>{{servico?.nome}}</h1>
    <h2>{{servico?.preco! / 100 | currency:'BRL'}}</h2>
    <ion-icon name="time" color="secondary"></ion-icon> Uma hora de serviço<br>
    <ion-icon name="star" color="warning"></ion-icon> 4.9 <ion-text color="medium"><small>(286
        avaliações)</small></ion-text>
    <ion-text>
      <p>{{servico?.descricao}}</p>
    </ion-text>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-padding">
    <ion-button color="primary" expand="block" shape="round" color="primary" routerLink="/endereco">Agendar</ion-button>
  </ion-toolbar>
</ion-footer>