<ion-content>
  <div class="ion-padding">
    <img src="../../assets/logo-horizontal.svg" alt="GlowApp" width="226" height="68" style="margin-top: 16px">
    <ion-text color="secondary">
      <h2 style="font-family: 'Suarez Alt';">Brilhe por dentro e por fora</h2>
    </ion-text>
  </div>
  <ion-list>
    <ion-list-header>
      <ion-label>Serviços wellness beauty delivery</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let servico of servicos" [routerLink]="'/servico/' + servico.nome">
      <ion-avatar slot="start">
        <img [alt]="servico.nome" [src]="servico.avatar" />
      </ion-avatar>
      <ion-label>{{servico.nome}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>